
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://static.vinepair.com/wp-content/uploads/2015/12/libation-inside-header.jpg)">
  Add New Cocktail
</div>

<h1 class="text-center">Add a cocktail</h1>
<div class="row">
  <div class="col-8 offset-2">
    <%= simple_form_for @cocktail do |f| %>
      <%= f.input  :name, placeholder: "Enter cocktail name", hint: "Must be new (not be on our menu yet)" %>
      <%= f.input :photo, as: :file %>
      <%= f.submit "Add cocktail!", class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="col-8 offset-2">
    <%= link_to "Back to menu!", cocktails_path, class: "btn btn-info"%>
  </div>
</div>




